.idea/**
log/**
.vscode
output.mp4
input/**
src/__pychache__
*.pyc
checkpoints/**
models/bdcn/final-model/**
build/
FeatureFlow-App.spec
ffmpeg/
FeatureFlow-One-App.spec
applet.py
featureflowUI_runner.py
UI.fbp
formbuilder/example.xrc
bin/ffmpeg.exe
bin/ffplay.exe
bin/ffprobe.exe
